
@{
    ViewBag.Title = "Index";
}
<div>
    <p class="display-4" style="font-size: 20px;">Reports</p>
</div>
<div style="display: flex; gap: 30px;">
    <div style="flex: 1; border: 1px solid #ccc; padding: 16px; background-color: #f9f9f9;">
        <p>Filter</p>
    </div>

    <div style="flex: 1; border: 1px solid #ccc; padding: 16px; background-color: #f9f9f9;">
        <p>Preview</p>
    </div>
</div>

